body{
    margin: 0;
    padding: 0;
    background-color:transparent;
    font-family: lato;

}
h1{
    color:black;
    text-align: center;
}
.first{
    height: 450px;
    width: 46%;
    float: left;
    padding-right: 10%;
}

p{
    color: #495057;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;

}



.About_us{

    color:rgb(102, 100, 100);
    text-align: justify;
    line-height: 22px;
    padding-right: 10%;
    padding-top:1%;
    

}
h1{
    text-align: left;
}

.How-it-works{
    position: absolute;
    
}
.grid-container {
    display: grid;
    
  }

  .second{
      position: ;
      float: none;
      height: 450px;
    width: 650px;
    float: left;
    
  }

  .image{
      float:right;
  }

  .bottom{
      padding-top:15%;
  }

