/* signup-container
signup-quote
signup-quote-author
signup-form
signup-link */
:root {
  --background: rgba(0, 0, 0, 0.5);
  --border-radius: 5px;
  --color: #01adba;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup-container {
  /* margin-top: 2rem; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  color: #fff;
  padding: 0.5rem;
  background: url(https://res.cloudinary.com/benjo/image/upload/v1555496697/jeshoots-com-462287-unsplash.jpg);
  background-size: cover;
}
.signup-container::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.signup-quote {
  background: var(--background);
  border-radius: var(--border-radius);
  padding: 2rem;
  font-weight: bold;
  z-index: 99;
}
.signup-quote-author {
  display: block;
  font-weight: lighter;
  margin-top: 0.2rem;
}
.signup-form {
  z-index: 99;
  padding: 2rem;
  background: var(--background);
  border-radius: var(--border-radius);
  width: 80%;
  max-width: 20rem;
}
.signup-form form > input {
  outline: none;
  border: none;
  margin: 2rem 0;
  background: #fff;
  height: 10px;
  padding: 1rem 1.1rem;
  border-radius: 5px;
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
}
.signup-form form > input:focus {
  border-color: var(--color);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.signup-link {
  color: var(--color);
}
.signup-btn {
  background: gray;
  border-radius: 0.3rem;
  padding: 0.5rem 5rem;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  margin: 1rem auto;
  cursor: not-allowed;
}
.signup-btn:hover {
  box-shadow: 0 5px 4px 0.2rem rgba(0, 0, 0, 0.25);
}
.signup-form form input[type="checkbox"]:checked ~ .signup-btn {
  background: var(--color);
  cursor: pointer;
}
