.become_therapist {
	padding-bottom: 50px;
}

.banner {
	background-image: url(https://res.cloudinary.com/mrphemi/image/upload/v1555358464/massage-835468_1280.jpg);
	height: 60vh;
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -20px;
	margin-bottom: 50px;
	color: #fff;
	display: grid;
	justify-content: center;
	align-items: center;
}

.title h1 {
	margin: 0;
}

.title h1 span {
	background: #01adba;
	opacity: 0.5;
	padding: 30px 0 60px 60px;
	padding-right: -10px;
}

.info {
	margin-top: 10px;
}

.button {
	background: #01adba;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px;
	display: block;
	margin-bottom: 20px;
}

.button i,
.button-alt i {
	margin-right: 5px;
}

.data-form {
	padding-left: 30px;
	border-left: 1px solid #eee;
}

.form-cta {
	background: #fff;
	border: 1px solid #01adba;
	border-radius: 5px;
	color: #01adba;
	padding: 10px;
	width: 100px;
}

.submit {
	background: #01adba;
	border: none;
	color: #fff;
	margin-left: 20px;
}
