

.landing-image{
    
}
/* start of desktop styles */
.landing-header-design{
    position: absolute;
    width: 373px;
    height: 150px;
    left: calc(50% - 373px/2 - 254.5px);
    top: 301px;

    background: rgba(1, 173, 186, 0.5);
}

.landing-header-image{
    padding: 0;
    top:80px;
    right: 0px;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    .landing-header-image{
        padding: 0;
        top:50px;
        right: 0px;
    }
    .landing-header-design{
        width: 120px;
        height: 60px;
        left: 50px; 
        top: 100px;
    }
}