/* start of desktop styles */
.landing {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: auto;
}

.landing-image-holder {
    padding: 0;
    margin: 0%;
    width: 100%;
}

.landing-header-text {
    position: absolute;
    left: calc(50% - 100px/2 - 90.5px);
    top: 250px;
    color: #ffffff;
    font-weight: bolder
}

.landing-header-design {
    position: absolute;
    width: 373px;
    height: 150px;
    left: calc(50% - 373px/2 - 254.5px);
    top: 300px;

    background: rgba(1, 173, 186, 0.5);
}

.landing-header-image {
    padding: 0;
    right: 0px;
    margin: 0
}

.landing-search-container {
    height: 100px;
    background-color: #ffffff;
    top: -40px;
    z-index: 1;
    box-shadow: 0px 5px 30px rgba(189, 189, 189, 0.41);
    left: calc(50% - 200px/2 - 250.5px);
}

.landing-input-holder {
    float: left;
    padding-left: 5px;
    padding-right: 5px
}

.landing-input-submit {
    float: left;
    padding-left: 10px;
}

.landing-header-input {
    width: 100%;
    color: #BDBDBD;
    padding: 10px 30px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    margin-top: 30px
}

.landing-input-label {
    position: relative;
    width: 100%;
    margin-right: 0px;
    margin-top: 0px
}

.landing-input-label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 30px;
    bottom: 0;
    width: 20px;
    background: url("https://res.cloudinary.com/ephaig/image/upload/v1555539564/search.png") center / contain no-repeat;
}

.landing-submit {
    background: #01ADBA;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
}

.landing-submit:hover {
    background: #FFFFFF;
    color: #01ADBA
}

.landing-therapist-container {
    width: 100%;
    margin-top: 30px;
    height: 300px;
    margin-bottom: 30px
}

.landing-therapist-container .container {
    height: 400px;
    text-align: center;
}

.landing-featured {
    font-weight: bold;
    text-align: center
}

.green {
    background-color: #01ADBA;
    width: 40px;
    height: 5px;
}

.landing-therapist-design {
    width: 30px;
    margin-left: 50%
}

.landing-card {
    width: 250px;
    height: auto;
    margin: 0 5px;
    display: inline-block
}

.landing-card .card-title,
.landing-card .card-subtitle {
    text-align: left;
    font-weight: bolder
}

.landing-card .card-subtitle {
    font-size: 12px
}

.landing-card p {
    text-align: left
}

.landing-countries-container {
    width: 100%;
    margin-top: 200px;
    height: 600px;
}

.landing-country {
    width: 200px;
    border: none;
    margin-right: 0;
}

.landing-state {
    color: #01ADBA;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px
}

.landing-state-list {
    height: 90px;
}

.landing-issues-container {
    height: 400px;
    margin-top: 40px
}

.landing-issues-container .card-title {
    color: #01ADBA;
    text-align: center
}

.landing-steps-container {
    height: 250px;
}

.landing-steps-container .container {
    text-align: center;
}

.landing-blog-container h4 {
    font-size: 20px;
}

.landing-blog-container p {
    color: #333333;
    font-size: 16px;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.landing-blog-container link2 {
    color: #01ADBA;
    font-size: 14px
}

.landing-blog-container blog-owner {
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.8;
    font-size: 16px
}

.landing-blog-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-button {
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #01ADBA
}

.landing-button:hover {
    color: #01ADBA;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #01ADBA
}


@media screen and (max-width: 991px) {

    /* start of large tablet styles */
    .landing-therapist-container {
        height: 700px;
    }

}

@media screen and (max-width: 767px) {

    /* start of medium tablet styles */
    .landing-therapist-container .container {
        margin-right: 0px;
        margin-left: 0px;
        max-width: 100%;
    }

    .landing-card {
        margin-left: 10%
    }
}

@media screen and (max-width: 479px) {

    /* start of phone styles */
    .landing-header-image {
        padding: 0;
        top: 50px;
        right: 0px;
    }

    .landing-header-design {
        width: 120px;
        height: 60px;
        left: 50px;
        top: 100px;
    }
}