/* start of desktop styles */
.landing{
    margin: 0;
    width: 100%
}
.landing-image-holder{
    padding: 0;
    margin: 0%;
    width: 100%;
}
.landing-header-text{
    position: absolute;
    left: calc(50% - 100px/2 - 90.5px);
    top: 300px;
    color: #ffffff;
    font-weight: bolder
}
.landing-header-design{
    position: absolute;
    width: 373px;
    height: 150px;
    left: calc(50% - 373px/2 - 254.5px);
    top: 350px;

    background: rgba(1, 173, 186, 0.5);
}

.landing-header-image{
    padding: 0;
    right: 0px;
    margin: 0
}

.landing-search-container{
    height: 100px;
    padding: 0;
    background-color: #ffffff;
    margin: 0;
    top: -40px;
    z-index: 1;
    box-shadow: 0px 5px 30px rgba(189, 189, 189, 0.41);
}

.landing-input-holder{
    float: left;
    padding-left:5px;
    padding-right: 5px
}

.landing-input-submit{
    float: left;
    padding-left: 10px;
}

.landing-header-input{
    width:100%;
    color: #BDBDBD;
    padding: 10px 30px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    margin-top: 30px
}

.landing-input-label {
    position: relative;
    width: 100%
  }
  
  .landing-input-label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 30px;
    bottom: 0;
    width: 20px;
    background: url("https://res.cloudinary.com/ephaig/image/upload/v1555539564/search.png") center / contain no-repeat;
  }

.landing-submit{
    background: #01ADBA;
    border-radius: 5px;
    color: #ffffff
}

.landing-submit:hover{
    background: #FFFFFF;
    color: #01ADBA
}

.landing-therapist-container{
    width: 100%;
    margin-top: 30px
}

.landing-featured {
    font-weight: bold;
    text-align: center
}

.green {
	background-color: #01ADBA;
	width: 40px;
	height: 5px;
}

.landing-therapist-design{
    width: 3opx;
    margin-left: 50%
}

.landing-card{
    width: 200px;
    height: auto;
    margin: 0 20px;
    float: left;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    .landing-header-image{
        padding: 0;
        top:50px;
        right: 0px;
    }
    .landing-header-design{
        width: 120px;
        height: 60px;
        left: 50px; 
        top: 100px;
    }
}