.Container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-area .single-footer-widget ul li {
    margin-bottom: 10px
}

.footer-area .single-footer-widget ul li a {
    color: #797979
}

.footer-area .single-footer-widget .form-wrap {
    margin-top: 25px
}

.footer-area .single-footer-widget input {
    height: 48px;
    border: none;
    width: 67% !important;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px
}

.footer-area .single-footer-widget input:focus {
    outline: none;
    box-shadow: none;
}

.footer-area .single-footer-widget input.placeholder {
    padding-left: 10px;
    color: #797979;
}

.footer-area .single-footer-widget input:-moz-placeholder {
    padding-left: 10px;
    color: #797979;
}

.footer-area .single-footer-widget input::-moz-placeholder {
    padding-left: 10px;
    color: #797979;
}

.footer-area .single-footer-widget input::-webkit-input-placeholder {
    padding-left: 10px;
    color: #797979;
}

.footer-area .single-footer-widget .click-btn {
    font-family: "Roboto", sans-serif;
    color: #3a414e;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 20px;
    border: 0;
    font-size: 14px;
    background: #fff;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    left: 0;
}

.footer-area .single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 375px,

) {
    .footer-area .single-footer-widget .click-btn {
        margin-top: 10px
    }
}

@media (min-width: 400px) {
    .footer-area .single-footer-widget .click-btn {
        left: -50px
    }
}

.footer-area .footer-bottom {
    margin-top: 70px
}

@media (max-width: 991px) {
    .footer-area .footer-bottom {
        margin-top: 20px
    }
}

.footer-area .footer-bottom p {
    color: #797979;
}

.footer-area .footer-bottom p a {
    color: #fff
}

.footer-area .footer-bottom .footer-social {
    text-align: center
}

@media (max-width: 991px) {
    .footer-area .footer-bottom .footer-social {
        text-align: left;
        margin-top: 30px;
    }
}

.footer-area .footer-bottom .footer-social a {
    background: rgba(255, 255, 255, 0.15);
    margin-left: 3px;
    width: 32px;
    color: #fff;
    display: inline-grid;
    text-align: center;
    height: 32px;
    align-content: center
}

.footer-area .footer-bottom .footer-social a:hover {
    background: #fff;
    color: #21146a;
}

.footer-area .footer-bottom .footer-social a i,
.footer-area .footer-bottom .footer-social a span {
    font-size: 14px
}