* {
    box-sizing: border-box;
}

.main_page{
    width: 100%;

}
.jumbo{
    background-color: white;
    border-bottom: 3px outset rgba(194, 190, 190,0.8);
    height:300px;
    flex-direction: column;
}

.breadcrumb{
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
}

.breadcrumb2{
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    /* padding-bottom: -10px; */
}
.active_link{
    color: rgb(16, 187, 199);
    font-size: 12px;
    margin-left: 30px;
    font-weight: bold;
}

.your_profile{
    color: rgb(16, 187, 199);
    font-size: 12px;
    margin-left: 30px;
    font-weight: bold;
    border-bottom: 3px outset rgb(39, 228, 241);
    height: 100%;
    /* padding-bottom: -20px; */
    margin-bottom: -1px;
    cursor: pointer;
}

.home{
    font-size: 12px;
    margin-left: 30px;
    font-weight: bold;
    height: 100%;
    cursor: pointer;
}

.bread_right{
    margin-left: 30px;
    color: rgb(243, 240, 240);
    /* font-weight: lighter; */
    font-size: 30px;
}

.profile{
    height: 210px;
    background-color: rgba(238, 241, 238,0.4);
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    padding-top: 30px;
    padding-left: 30px;
}
.profile_pic{
    border-radius: 50%;
    background-color: rgba(194, 190, 190,0.8);
    width: 120px;
    height: 120px;
    font-size: 14px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

.profile_details{
    padding: 30px;
}

.edit_profile{
    font-style: italic;
    color: rgb(16, 187, 199);
    font-size: 12px;
}
.user_name{
    font-weight: bold;
    font-size: 14px;
}
.user_email{
    font-weight: bold;
    font-size: 12px;
}

.profile_name{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 30px;
}

.tabs{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

.tab_menu{
    margin-top: 30px;
}

label{
    font-weight: bold;
    margin-top: 25px;
    margin-right: 20px;
    width: 15%;
}

.mr{
    width: 13%; 
}
.mail{
    width: 70%;
}
.name{
    width: 27%;
}
.profile_inputs{
    margin-left: 5px;
    margin-right: 1%;
    border-radius: 5px;
    background-color: white;
    padding: 12px;
    height: 50px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

.name_label{
    /* margin-right: 85px; */
}
.ctry{
    width: 130px; 
}


@media screen and (max-width: 768px) {
    .profile_name{
        display: flex;
        flex-direction: column
    }
    .mr{
        width: 30%; 
    }
    .mail{
        width: 70%;
    }
    .name{
        width: 70%;
    }
    .profile_inputs{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 375px) {
    .profile{
        display: flex;
        flex-direction: column;
        height: 350px
    }
    .jumbo{
        height: 440px;
    }
}