@import url("https://fonts.googleapis.com/css?family=Montserrat");

.nav-p {
    background: #fafafa;
    height: 52px;
    width: 100%;
}

.nav-p p a {
    text-decoration: none;
    line-height: 52px;
    font-size: 14px;
    font-weight: 300;
    font-family: Montserrat;
    color: #333333;
    margin-left: 13px;
}

.nav-p p a .color {
    color: #01adba;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    margin-top: 40px;

    color: #32a636;
}

.book-successful {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin-top: 30px;
    font-weight: lighter;
}

button {
    background: #ffffff;
    border: 1px solid #01adba;
    box-sizing: border-box;
    border-radius: 4px;

    margin: 5px auto;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
    width: 220px;
    color: #01adba;
    cursor: pointer;
}

@media only screen and (min-width: 650px) {
    .book-successful button {
        width: 258px;
        font-size: 16px;
    }

    .book-successful p,
    h4 {
        font-size: 16px;
        line-height: 25px;
    }

    h2 {
        font-size: 36px;
        line-height: 56px;
        margin-top: 45px;
    }

    .nav-p p a {
        margin-left: 55px;
    }
    .fa-angle-right {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 359px) {
    .nav-p {
        height: 100px;
        padding: 10px;
    }

    .nav-p p a {
        line-height: 50px;
    }
}
