@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Laato', sans-serif;
    height: 100vh;
    width: 100%;
}

.nav-p {
    background: #FAFAFA;
    height: 52px;
    width: 100%;
}

.nav-p p a {
    text-decoration: none;
    line-height: 52px;
    font-size: 14px;
    font-weight: 300;
    font-family: Montserrat;
     color: #333333;
     margin-left: 13px;
}

.nav-p p a .color {
    color:  #01ADBA;
    font-weight: bold;
    cursor: pointer
}

h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    margin-top: 40px;

    color: #C51B1B;
}

.book-error {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4 {
    text-align: center;
    font-family: Lato;
    font-weight: bold; 
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin-top: 30px;
}

.book-error p {
    text-align: center;
    font-family: Lato;
    font-weight: 600; 
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin-top: 15px;
}

.book-error button {
    background: #FFFFFF;
    border: 1px solid #01ADBA;
    box-sizing: border-box;
    border-radius: 4px;

    margin: 50px auto;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
    width: 220px;
    color: #01ADBA;
    cursor: pointer;

}


@media only screen and (min-width: 650px) {
    .book-error button {
        width: 258px;
        font-size: 16px;
}

.book-error p, h4 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500px;
}

h2 {
    font-size: 36px;
    line-height: 56px;
}

.nav-p p a {
    margin-left: 55px;
}
.fa-angle-right {
    margin-left: 10px;
}

}


@media only screen and (max-width: 359px) {
    .nav-p {
        height: 100px;
        padding: 10px;
    }

    .nav-p p a {
        line-height: 50px;
    }
}
